{{template "base" .}}
{{define "content"}}
    <!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <h1 class="display-4">Become our provider</h1>
      <h2>Use your living experience to help someone</h2>
      <div>
        <form action="/provider-form" method="get">
            <button type="submit" class="btn btn-dark">Get Started</button>
        </form>
      </div>
    </div>
  </section><!-- End Hero -->
{{end}}