{{template "base" .}} 
{{define "content"}}
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
          <div class="row d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-9">
              <div>Your appointment will be due in 2 hours time. Please come back 2 hours time.</div>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Contact Section -->
{{end}}